@model CineORT.Models.Usuario

@{
    ViewData["Title"] = "LoginUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>BIENVENIDO</h1>


<h4>Por favor, ingresá tu usuario y contraseña:</h4>




















@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}