

@{

    ViewData["Title"] = "Bienvenidos";
}

<div class="text-center">
    <h1 class="título1" style="color:ghostwhite"><b>BIENVENIDOS A CINE ORT</b></h1>
    <h4 class="título2" style="color:ghostwhite">¡Tu mejor elección para <br />todas tus películas favoritas!</h4>
    <br />
    <br />
    <br />

</div>

<div class="container">
    <div class="position-absolute" >
        <figure class="figure">
            <img src="https://i2.wp.com/codigoespagueti.com/wp-content/uploads/2021/08/Venom-2-Poster.jpg?resize=1280%2C1600&quality=80&ssl=1" height="400" width="400" class="figure-img img-fluid rounded" alt="Carnage Liberado">
            <figcaption class="figure-caption">Carnage Liberado - La Nueva Película de Venom</figcaption>
            <a asp-action="Create" asp-controller="Usuarios">RESERVAR</a>
        </figure>

        <figure class="figure">
            <img src="https://es.web.img3.acsta.net/pictures/21/08/25/14/35/3349802.jpg" height="375" width="375" class="figure-img img-fluid rounded" alt="Duna">
            <figcaption class="figure-caption">Duna - Película de Ciencia Ficción</figcaption>
            <a asp-action="Create" asp-controller="Usuarios">RESERVAR</a>
            <input type="button" value="RESERVAR" class="btn btn-primary" asp-action="Create" asp-controller="Usuarios" />
        </figure>

        <figure class="figure">
            <img src="https://pics.filmaffinity.com/El_pr_fugo-812275416-large.jpg" height="350" width="350" class="figure-img img-fluid rounded" alt="El Prófugo">
            <figcaption class="figure-caption">El Prófugo - La nueva película de Erica Rivas</figcaption>
            <a asp-action="Create" asp-controller="Usuarios">RESERVAR</a>
            <input type="button" value="RESERVAR" class="btn btn-primary" asp-action="Create" asp-controller="Usuarios" />
        </figure>

    </div>
</div>