@model CineORT.Models.Administrador

@{
    ViewData["Title"] = "LoginAdministrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Acceso Administradores</h1>


<h4>Por favor, ingresá tu usuario y contraseña:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="Administradors"><input type="button" value="Ingresar" class="btn btn-primary" /></a>
            </div>
            <div class="text-light">
                <p>Si no recuerda su contraseña, por favor comuníquese con Soporte.</p>
                <p>Para crear su usuario Administrador, por favor haga <a asp-action="Create" asp-controller="Administradors">Click Aquí</a></p>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}