@model CineORT.Models.Administrador

@{
    ViewData["Title"] = "MenuPrincipalAdministrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>BIENVENIDO</h1>

<div class="form-group">
    <a asp-action="Create" asp-controller="Sala"><input type="submit" value="Agregar Sala" class="btn btn-primary" /></a>
</div>

<div class="form-group">
    <a asp-action="Create" asp-controller="Peliculas"><input type="submit" value="Agregar Película" class="btn btn-primary" /></a>
</div>

<div class="form-group">
<a asp-action="Create" asp-controller="Funcions"><input type="submit" value="Agregar Funcion" class="btn btn-primary" /></a>
</div>